#body-home {

  main {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 0;
      padding-top: 0;
      top: 0;
    }
  }
}


.feature-photos {
  @include center-block();
  max-width: $non-grid-max-width;
  overflow: hidden;
  position: relative;
}

.feature-photo {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;

  &.active {
    display: block;
    z-index: 2;
  }

  &.js-feature-photo {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.feature-photo-img {
  @include center-block();
  @include img-responsive();
}

.feature-photo-cta {
  background-color: rgba(255, 255, 255, .85);
  color: $text-color;
  display: block;
  font-family: $font-family-cta;
  max-width: 390px;
  padding: 10px 20px;
  position: absolute;
  right: 10%;
  text-align: left;
  top: 20%;
  z-index: 3;

  @include body-prefix('.ie8') {
    background-color: #fff;
  }

  @media (max-width: $screen-sm-max) {
    max-width: 390px;
    top: 8%;
  }

  @media (max-width: $screen-xs-max) {
    max-width: $screen-xs-max;
    padding-bottom: 8px;
    padding-top: 8px;
    position: static;
    right: auto;
    text-align: center;
    top: auto;
  }

  &:before {
    @extend .fa;
    @extend .fa-arrow-circle-o-right:before;
    color: $coba-pink;
    font-size: 45px;
    line-height: 1.1; // match .feature-photo-cta-title (h2) line-height
    position: absolute;
    right: 15px;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.feature-photo-cta-title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 50px;

  @media (max-width: $screen-xs-max) {
    font-size: 36px;
  }
}

.feature-photo-cta-subtitle {
  font-size: 18px;

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
    padding-right: 50px;
  }
}

.feature-photo-cta-content {
  color: #444;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;

  @media (max-width: $screen-xs-max) {
    font-size: 12px;
  }
}

.home-alt-cta {
  bottom: 0;
  height: auto;
  max-width: 600px; // don't allow huge cta's
  position: absolute;
  right: 10%;
  z-index: 3;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.home-page-banner {
  margin-bottom: 20px;
}

#centerpiece-carousel {
  margin-bottom: 20px;

  .carousel-indicators {
    bottom: 10px;
    left: 10px;
    margin-bottom: 15px;
    margin-left: 0;
    padding-bottom: 0;
    position: absolute;
    text-align: left;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    li {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      height: 75px;
      margin-right: 8px;
      width: 75px;

      @media (max-width: $screen-xs-max) {
        height: 50px;
        width: 50px;
      }

      &.active {
        border: 1px solid $school-dark-gray;
      }

      img {
        height: 73px;
        position: absolute;
        width: 73px;

        @media (max-width: $screen-xs-max) {
          height: 48px;
          width: 48px;
        }
      }
    }
  }

  .carousel-cta {
    background-color: $school-blue;
    bottom: 0;
    color: #fff;
    left: auto;
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: auto;
    width: 30%;

    @media (max-width: $screen-md-max) {
      width: 50%;
    }

    @media (max-width: $screen-xs-max) {
      margin: 0;
      position: static;
      width: 100%;
    }

    h3 {
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 18px;
      margin-top: 0;
      padding-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      padding-right: 10px;
      text-align: left;
    }

    .btn-cta {
      @include color-block-blur($site-title-bgcolor, 2px, 2px);
      background: $ucf-gold;
      border-radius: 0;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding: 5px;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}

#facebook {
  color: $school-blue;
  margin-bottom: 20px;

  h3 {
    border-bottom: 1px solid $school-blue;
    color: $school-blue;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px;
    padding-bottom: 8px;
  }

  .row {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  h4 {
    font-size: 12px;
    margin: 3px 0;
  }

  p {
    color: #000;
    font-size: 12px;
    font-weight: 700;
  }

  hr {
    border-bottom: 1px solid $school-blue;
    margin: 0;
  }

  a.all-posts {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    width: 100%;

    &::after {
      color: #000;
      content: ' \203A ';
    }
  }
}

.spotlight {
  background-color: $school-dark-gray;
  padding: 10px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }


  h3 {
    border-bottom: solid 1px $school-gray-line;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  img {
    height: auto;
    width: 100%;
  }

  p.main {
    border-bottom: solid 1px $school-gray-line;
    color: #fff;
    font-size: 12px;
    padding-bottom: 8px;
  }

  a.learn-more,
  a.learn-more:active,
  a.learn-more:visited {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    width: 100%;

    &::after {
      content: '\203A';
    }
  }

  .spotlight-additional-content {
    background-color: $school-blue;
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    text-align: center;

    a,
    a,
    a {
      color: #000;
      font-weight: 700;
    }

    p {
      font-style: italic;
      margin: 0;
    }

  }
}


.embed-responsive {

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }
}


.publication {
  background-color: $school-dark-gray;
  padding: 10px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }

  h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  img {
    height: auto;
    width: 100%;
  }

  .more-publications {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 8px;
    text-align: right;
    text-transform: uppercase;
    width: 100%;

    &::after {
      content: ' \203A';
    }
  }
}


.feature-blocks {
  margin-top: $grid-gutter-width;
  position: relative;

  &:after {
    @include gradient-horizontal(rgba(255, 255, 255, .1), #fff, 0, 90%);
    bottom: 0;
    content: '';
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: $grid-gutter-width / 2;

    &:after {
      display: block;
    }
  }

  // Eliminate grid gutters/styles @ mobile
  .container {
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }


  .spotlight-list {
    @extend .row;
    @include unstyled-list();

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
      margin-right: 0;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      width: 100%;
    }

    li {
      @extend .col-md-2;
      @extend .col-sm-4;
      margin-bottom: $grid-gutter-width;

      @media (max-width: $screen-xs-max) {
        display: inline-block;
        float: none;
        height: auto;
        margin-bottom: 0;
        padding: $grid-gutter-width / 4 $grid-gutter-width / 2 $grid-gutter-width 0;
        vertical-align: top;
        width: 130px;

        &:first-child {
          margin-left: $grid-gutter-width;
        }

        &:last-child {
          margin-right: $grid-gutter-width;
        }
      }
    }

    img {
      @include material-block();
      height: auto;
      width: 100%;
    }
  }
}


.feature-news {
  margin-top: 15px;

  @media (max-width: $screen-xs-max) {
    margin-top: $grid-gutter-width / 2;
  }

  .feature-news-heading {
    color: $coba-green-dark;
    font-family: $font-family-slab-serif;
    font-size: 42px;
    font-weight: normal;

    @media (max-width: $screen-xs-max) {
      font-size: 36px;
      margin-top: 0;
    }

    .alt {
      font-family: $font-family-sans-serif-alt;
      font-size: 18px;
      text-transform: uppercase;

      @media (max-width: $screen-xs-max) {
        font-size: 15px;
      }
    }
  }

  .news-photo-list {
    @include unstyled-list();

    .news-story {
      @include color-block($coba-offwhite, 2px, 2px, 0, 0, darken($coba-offwhite, 5%));
      display: inline-block;
      font-family: $font-family-sans-serif-alt;
      font-size: 16px;
      font-weight: normal;
      height: 90px;
      line-height: 1.2;
      margin-bottom: $grid-gutter-width / 2;
      margin-top: $grid-gutter-width / 2;
      overflow: hidden;
      padding: 10px;
      position: relative;

      &:after {
        border-color: transparent transparent $coba-green-dark;
        border-style: solid;
        border-width: 0 0 12px 12px;
        bottom: -2px;
        content: '';
        display: block;
        height: 12px;
        position: absolute;
        right: 0;
        width: 12px;

        @include body-prefix('.ie8') {
          bottom: 0;
          right: ($grid-gutter-width / 2);
        }
      }

      &:hover:after,
      &:focus:after,
      &:active:after {
        @include transition(all .15s ease-in-out);
        bottom: 0;
        right: 0;
      }

      @media (max-width: $screen-xs-max) {
        // Only display the first 4 news items @ mobile size
        &:nth-child(n+5) {
          display: none;
        }
      }
    }

    .news-title {
      display: inline;
      font-size: 12px;
      font-style: normal;
      margin-left: 0;
      overflow: hidden;
      text-decoration: none;

      @include body-prefix('.ie8') {
        border-bottom: 2px solid darken($coba-offwhite, 5%);
        border-right: 2px solid darken($coba-offwhite, 5%);
      }

      @media (max-width: $screen-xs-max) {
        font-size: 13px;
      }
    }

    a {
      color: $text-color;
      display: block;
      height: 100%;
      width: 100%;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.video-caption {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
