.single-person {
  h1 {
    margin-top: 0;
  }
}

.person-list {
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }

  .thumbnail {
    margin: 0;
    padding: 10px;
  }

  .caption {
    padding-bottom: 0;
  }

  h3 {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }

  @media (min-width: $screen-md-min) {
    .modal {
      top: 60px;

      h2 {
        margin: 0;
        text-align: center;
      }
    }
  }
}
